/* Реализация с flex-box */
/* .cards {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 920px;
  flex-wrap: wrap;
} */

/* Реализация с grid-layout */
.cards {
  padding-left: 0;
  list-style: none;
  max-width: 920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  column-gap: 100px;
  row-gap: 0;
  margin: auto;
}
