.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin-top: 0;
  transition: opacity 1s linear 0.1s;
}

.footer__column-link:hover {
  color: #C71585;
  opacity: 0.5;
}
